.container {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 20px;
  overflow: hidden;
  margin: auto;
}

.image {
  width: 150px;
  height: 150px;
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
}

.name {
  margin: 10px, 0, 0, 10px;
  font-weight: 800;
}

.description {
  margin: 0;
  padding: 0;
  color: rgb(109, 109, 109);
}

.stats {
  background-color: rgb(208, 208, 208);
  border-top: 2px solid grey;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.statsItem {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid grey;
  border-bottom: none;
}

.statsItem:nth-child(3) {
  border: none;
}

.statsItem span:nth-child(2) {
  font-weight: 700;
}
