.table {
  border-collapse: collapse;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  gap: 0px;
}

.headers {
  border: 1px solid black;
  padding: 0;
  width: 100px;
  color: white;
  background-color: rgb(35, 35, 35);
}

.values1 {
  border: 1px solid black;
  padding: 0;
  width: 100px;
  color: black;
  background-color: white;
}

.values2 {
  border: 1px solid black;
  padding: 0;
  width: 100px;
  color: black;
  background-color: rgb(165, 165, 165);
}
